image: docker/compose:alpine-1.28.0

stages:
  - build
  - lint
  - test
  - deploy

before_script:
  - apk add make
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - apk add --no-cache python3 py3-pip
  - alias python=python3
  - cp $DOT_ENV $(pwd)/.env

build:
  stage: build
  script:
    - echo $(pwd)
    - cat $(pwd)/.env
    - make docker_build
  tags:
    - job:build
  only:
    - main
  environment:
    name: prod

lint:
  stage: lint
  script:
    - pip install flake8 isort black
    - make lint
  tags:
    - job:lint
  only:
    - main
  environment:
    name: prod

test:
  stage: test
  script:
    - make docker_test
  tags:
    - job:test
  only:
    - main
  environment:
    name: prod

deployment:
  stage: deploy
  script:
    - make docker_stop migrate docker_start
  tags:
    - job:deploy
  only:
    - main
  environment:
    name: prod
  when: manual