image: docker/compose:alpine-1.28.0

stages:
  - build
  - lint
  - test
  - deploy

before_script:
  - apk add make
  - docker login registry.gitlab.com -u "$CI_REGISTRY_USER" -p "$CI_GITLAB_TOKEN"
  - cp $DOT_ENV $(pwd)/src/config/.env

build:
  stage: build
  script:
    - docker-compose build
    - docker-compose push
  tags:
    - job:build
  only:
    - main
  environment:
    name: prod

lint:
  stage: lint
  script:
    # - docker-compose run app-service python make check_lint
    - apk add --no-cache py3-pip
    - pip install flake8 isort black #запуллить конотейнер и там прогнать
    - make check_lint
  tags:
    - job:lint
  only:
    - main
  environment:
    name: prod

test:
  stage: test
  script:
    - make docker_test
  tags:
    - job:test
  only:
    - main
  environment:
    name: prod

deployment:
  stage: deploy
  script:
    - docker pull $CI_REGISTRY_IMAGE:latest
    - docker-compose down
    - apk add make
    - make makemigrations
    - make migrate
    # - docker-compose run app-service python src/manage.py makemigrations
    # - docker-compose run app-service python src/manage.py migrate
    - docker-compose up -d
  tags:
    - job:deploy
  only:
    - main
  environment:
    name: prod
  when: manual