image: docker:latest
services:
  - docker:latest-dind

stages:
  - build
  - lint
  - test
  - deploy

before_script:
  - apk add make
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - apk add --no-cache python3 py3-pip
  - cp $DOT_ENV $(pwd)/src/config/.env
  - cp $DOT_ENV_LOC $(pwd)/src/config/.env

build:
  stage: build
  script:
    - docker build -t "$CI_REGISTRY_IMAGE:latest" .
    - docker push "$CI_REGISTRY_IMAGE:latest"
  tags:
    - job:build
  only:
    - main
  environment:
    name: prod

lint:
  stage: lint
  script:
    - pip install flake8 isort black
    - make lint
    - make check_lint
  tags:
    - job:lint
  only:
    - main
  environment:
    name: prod

test:
  stage: test
  script:
    - make docker_test
  tags:
    - job:test
  only:
    - main
  environment:
    name: prod

deployment:
  stage: deploy
  script:
    - docker pull "$CI_REGISTRY_IMAGE"
    - apk add --upgrade rest
    - docker-compose down
    #- docker-compose --env-file=/src/config/.env run app-service bash -c "python3 src/manage.py migrate"
    - docker-compose up
  tags:
    - job:deploy
  only:
    - main
  environment:
    name: prod
  when: manual