image: docker/compose:alpine-1.28.0

stages:
  - build
  - lint
  - test
  - deploy

before_script:
  - apk add make
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - echo $DOT_ENV > $(pwd)/src/config.env

build:
  stage: build
  script:
    - make docker_build push
  tags:
    - job:build
  only:
    - main
  environment:
    name: prod

lint:
  stage: lint
  script:
    - make lint
  tags:
    - job:lint
  only:
    - main
  environment:
    name: prod

test:
  stage: test
  script:
    - make docker_test
  tags:
    - job:test
  only:
    - main
  environment:
    name: prod

deploy:
  stage: deploy
  script:
    - make pull docker_stop migrate docker_start
  tags:
    - job:deploy
  only:
    - master
  environment:
    name: prod
  when: manual