image: docker/compose:alpine-1.28.0

stages:
  - build
  - lint
  - test
  - deploy

before_script:
  - apk add make
  - docker login registry.gitlab.com -u "$CI_REGISTRY_USER" -p "$CI_GITLAB_TOKEN"
  - apk add --no-cache python3 # py3-pip # убрать pip в lint python3 убрать вообще
  - cp $DOT_ENV $(pwd)/src/config/.env
  #- cp $DOT_ENV_LOC $(pwd)/src/config/.env

build:
  stage: build
  #before_script:
  #  - docker login registry.gitlab.com -u "$CI_REGISTRY_USER" -p "$CI_GITLAB_TOKEN"
  script:
    - docker-compose build #-t registry.gitlab.com/flambergsman/pythonbackend2023 .
    - docker-compose push
#      registry.gitlab.com/flambergsman/pythonbackend2023
  tags:
    - job:build
  only:
    - main
  environment:
    name: prod

lint:
  stage: lint
  script:
    # - docker-compose run app-service python make check_lint
    # - pip install flake8 isort black #запуллить конотейнер и там прогнать
    - pip install flake8
    - make check_lint
  tags:
    - job:lint
  only:
    - main
  environment:
    name: prod

test:
  stage: test
  script:
    - make docker_test
  tags:
    - job:test
  only:
    - main
  environment:
    name: prod

deployment:
  stage: deploy
  script:
    - docker pull $CI_REGISTRY_IMAGE:latest
    - docker-compose down
    - docker-compose run app-service python src/manage.py makemigrations
    - docker-compose run app-service python src/manage.py migrate
    # - make migrate3
    # - docker-compose --env-file=/src/config/.env run app-service bash -c "python3 src/manage.py migrate"
    # - bash -c "python3 src/manage.py migrate"
    - docker-compose up -d # миграция совершится?
    # - docker-compose down
  tags:
    - job:deploy
  only:
    - main
  environment:
    name: prod
  when: manual