image: docker/compose:alpine-1.28.0

stages:
  - build
  - lint
  - test
  - deploy

before_script:
  - apk add make
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - apk add --no-cache python3 py3-pip
  - cp $DOT_ENV $(pwd)/src/config/.env
  - cp $DOT_ENV_LOC $(pwd)/src/config/.env

build:
  stage: build
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build -t "$CI_REGISTRY_IMAGE" .
    - docker push "$CI_REGISTRY_IMAGE"
  tags:
    - job:build
  only:
    - main
  environment:
    name: prod

#build:
#  image: docker:latest
#  stage: build
#  services:
#    - docker:dind
#  before_script:
#    - export
#    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
#  script:
#    - docker build --pull -t "$CI_REGISTRY_IMAGE"
#    - docker push "$CI_REGISTRY_IMAGE"
#  tags:
#    - job:build
#  only:
#    - main
#  environment:
#    name: prod

lint:
  stage: lint
  script:
    - pip install flake8 isort black
    - make lint
    - make check_lint
  tags:
    - job:lint
  only:
    - main
  environment:
    name: prod

test:
  stage: test
  script:
    - make docker_test
  tags:
    - job:test
  only:
    - main
  environment:
    name: prod

deployment:
  stage: deploy
  script:
    - apk add --upgrade rest
    - make migrate_new
  tags:
    - job:deploy
  only:
    - main
  environment:
    name: prod
  when: manual