version: "3.10"

services:
  app-service:
    container_name: python-django-app-1
    image: ${IMAGE_APP}
    build: .
    command: bash -c "python src/manage.py migrate & python src/manage.py runserver 0.0.0.0:8000"
    links:
      - db
    ports:
      - "0.0.0.0:8000:8000"
    depends_on:
      - db
    env_file: ./src/config/.env
    extra_hosts:
      - "host.docker.internal:host-gateway"


  db:
    container_name: python-django-db-1
    image: postgres:12.0-alpine
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432"
    env_file: ./src/config/.env
    extra_hosts:
      - "host.docker.internal:host-gateway"


  bot:
    container_name: python-django-bot-1
    image: ${IMAGE_APP}
    build: .
    command: bash -c "python src/manage.py migrate & python src/manage.py start_bot"
    depends_on:
      - db
    env_file: ./src/config/.env

#  nginx:
#    build:
#      context:
#        ./nginx
#      dockerfile: Dockerfile
#    ports:
#      - "80:80"
#      - "443:443"
#    depends_on:
#      - app-service\

#  nginx:
#    build:
#      dockerfile: Dockerfile


volumes:
    pgdata:
