version: "3.10"

services:
  app-service:
    container_name: python-django-app-1
    image: python-django-1
    build: .src/
    command: python src/manage.py runserver
    ports:
      - 8000:8000
    depends_on:
      - db-service
    networks:
      - my-network


  db-service:
    container_name: python-django-db-1
    image: nouchka/sqlite3:latest
    env_file: ./src/config/.env

  bot:
    container_name: python-django-bot-1
    image: python-django-1
    build: .
    command: bash -c "python src/manage.py migrate & python src/manage.py start_bot"
    env_file: ./src/config/.env

networks:
  my-network:
    external: true