version: "3.10"

services:
  app-service:
    container_name: python-django-app-1
    image: python-django-1
    build: .
    command: bash -c "python src/manage.py migrate & python src/manage.py runserver 0.0.0.0:8000"
    links:
      - db-service
    ports:
      - "0.0.0.0:8000:8000"
    depends_on:
      - db-service
    networks:
      - my-network
    extra_hosts:
      - "host.docker.internal:host-gateway"


  db-service:
    container_name: python-django-db-1
    image: postgres:12.0-alpine
    env_file: ./src/config/.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    extra_hosts:
      - "host.docker.internal:host-gateway"


  bot:
    container_name: python-django-bot-1
    image: python-django-1
    build: .
    command: bash -c "python src/manage.py migrate & python src/manage.py start_bot"
    depends_on:
      - db-service
    env_file: ./src/config/.env

networks:
  my-network:
    external: true

volumes:
    pgdata: